<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Recipe Book</a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="recipes" routerLinkActive="active">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shopping-list" routerLinkActive="active">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
          Manage <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" dropwdownToggler>
          <li><a class="dropdown-item" href="#" (click)="onSaveData($event)">Save Data</a></li>
          <li><a class="dropdown-item" href="#">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
